@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

#main-content {
    display: grid;
    justify-content: center;
    justify-items: center;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    margin: 20px;
    padding-top: 90px;
}
.content1 {
    display: grid;
    justify-content: center;
    justify-items: center;
}
.content1-title {
    margin-bottom: 10px;
}
.content1-subtitle {
    font-weight: 400;
}

.content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding: 50px 0;
    margin: 50px 0;
    gap: 20px;
}

.content2-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 228px;
    border: 1px solid #DDDDDD;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px 0;
}
.content2-circle {
    width: 60px;
    height: 60px;
    border: 1px solid #DDDDDD;
    border-radius: 40px;
    margin-right: 10px;
}
.content2-subtitle {
    font-weight: 400;
}

.content3 {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-bottom: 50px;
}

.content3-text {
    font-size: 12px;
    max-width: 500px;
    text-align: center;
    margin-bottom: 20px;
}
.content3-button {
    background-color: #535353;
    border: 0;
    color: #FFFFFF;
    font-weight: 700;
    padding: 8px 6px;
    border-radius: 10px;
    cursor: pointer;
}

.top-header {
    background-color: #1F4379;
    margin-bottom: 40px;
}
.top-header-titulo {
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
    font-size: 40px;
}

.top-header-titulo:hover {
    transition: all .2s ease-in-out;
    opacity: 70%;
}
