@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    font-family: 'Roboto';
}

body {
    margin: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    margin: 50px 0 0 50px;
}

.header-buttons {
    display: flex;
    border: 1px solid #DDDDDD;
    gap: 20px;
    margin: 40px 45px 0 0;
    padding: 0 6px;
}

.header-button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.header-button-signup {
    color: #FFFFFF;
    background-color: #535353;
    border-radius: 20px;
    border: none;
    padding: 8px 30px;
    cursor: pointer;
    font-weight: 700;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #DDDDDD;
    width: 400px;
    margin:134px auto;
    padding: 20px 70px 0 70px;
}
.banner-subtitle {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 60px;
}
.banner-button {
    background-color: #535353;
    border: 0;
    color: #FFFFFF;
    border-radius: 20px;
    padding:10px 12px;
    font-weight: 700;
    margin-bottom: 20px;
    cursor: pointer;
}

.top-header {
    background-color: #1F4379;
    margin-bottom: 40px;
}
.top-header-titulo {
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
    font-size: 40px;
}

.top-header-titulo:hover {
    transition: all .2s ease-in-out;
    opacity: 70%;
}
